body {
	margin: 0;
	padding: 0;
	background: #666159 url(images/img01.jpg) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #D4D4D4;
}
h1, h2, h3, #sidebar .sidehead {
	margin: 0;
	text-transform: lowercase;
	font-weight: normal;
	color: #FFFFFF;
}
h1, h2.page-head {
	letter-spacing: -1px;
	font-size: 32px;
}
h2, #sidebar .sidehead {
	font-size: 23px;
}
p, ul, ol {
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 26px;
	font-size: 13px;
}
a:link {
	color: #C1D11C;
}
a:hover, a:active {
	text-decoration: none;
	color: #C1D11C;
}
a:visited {
	color: #C1D11C;
}
img {
	border: none;
}
img.left {
	float: left;
	margin-right: 15px;
}
img.right {
	float: right;
	margin-left: 15px;
}

/* Form */
form {
	margin: 0;
	padding: 0;
}
fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
legend {
	display: none;
}
input, textarea, select {
	border:1px solid #F0F0F0;
	margin-right:5px;
	padding:2px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}
textarea { width: 99%; }

/* Header */
#header {
	width: 850px;
	height: 82px;
	margin: 0 auto 40px auto;
}
#logo {
	float: left;
}
#logo h1 {
	font-size: 38px;
	color: #FFFFFF;
}
#logo h1 sup {
	vertical-align: text-top;
	font-size: 24px;
}
#logo h1 a {
	color: #FFFFFF;
}
#logo h2, #logo .sitetag {
	margin-top: -4px;
	font-size: 12px;
	color: #A0A0A0;
}
#logo a {
	text-decoration: none;
}

/* Menu */
#menu {
	float: right;
}
#menu ul {
	margin: 0;
	padding: 15px 0 0 0;
	list-style: none;
}
#menu li {
	display: inline;
}
#menu a {
	display: block;
	float: left;
	background: #F5F5F5;
	margin-left: 5px;
	padding: 7px 20px;
	text-decoration: none;
	font-size: 13px;
	color: #000000;
}
#menu a:hover {
	border-top: 5px solid #C1D11C;
	border-bottom: 3px solid #C1D11C;
	text-decoration: none;
}
#menu .active a, #menu a.selflink {
	border-top: 5px solid #C1D11C;
	border-bottom: 3px solid #C1D11C;
}

/* Page */
#page, #footer-inner {
	width: 850px;
	margin: 0 auto;
}

/* Content */
#content {
	float: left;
	width: 600px;
}

/* Post */
.post .title, #content h2, #content h3 {
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 0 0 7px 18px;
	background: url(images/img03.gif) no-repeat left 50%;
	border-bottom: 1px solid #86910F;
}
#content h2, #content h3 {
	margin-top: 0;
}
#content h2 a:link, #content h2 a:visited,
#content h3 a:link, #content h3 a:visited {
	text-decoration: none;
	color: #fff;
}
#content h2 a:hover, #content h3 a:hover {
	text-decoration: none;
	color: #C1D11C;
}
.post .meta {
	border: 1px solid #86910F;
	padding: 10px;
	margin-bottom: 50px;
	font-size: 11px;
}
.post .meta a {
	font-size: 11px;
}
.post .meta p {
	margin: 0;
	line-height: normal;
	color: #999999;
}
.post .meta .byline {
	float: left;
	padding-right: 50px;
}
.post .meta .links {
	float: right;
	width: 55%;
	text-align: right;
}
.post .meta .more {
	padding: 0 20px 0 18px;
	background: url(images/img06.gif) no-repeat left center;
}
.post .meta .comments {
	padding-left: 22px;
	background: url(images/img07.gif) no-repeat left center;
	white-space: nowrap;
}
.post .meta b {
	display: none;
}

/* Sidebar */
#sidebar {
	float: right;
	width: 195px;
}
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#sidebar ul {
	margin-bottom: 40px;
}
#sidebar li {
	margin: 0;
	padding-left: 12px;
}
#sidebar h2, #sidebar .sidehead {
	margin-bottom: 10px;
	padding-left: 15px;
	background: url(images/img04.gif) no-repeat left 50%;
	border-bottom: 1px solid #86910F;
	font-size: 16px;
}

/* Search */
#search {
}
#search h2 {
	margin-bottom: 20px;
}
#s {
	width: 110px;
	margin-right: 5px;
	padding: 2px;
	border: 1px solid #F0F0F0;
}
#x, #searchsubmit {
	padding: 4px 4px;
	background: #C1D11C;
	border: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

/* Boxes */
.box1 {
	padding: 20px;
	background: url(images/img05.gif) no-repeat;
}
.box2 {
	color: #BABABA;
}
.box2 h2 {
	margin-bottom: 15px;
	background: url(images/img10.gif) repeat-x left bottom;
	font-size: 16px;
	color: #FFFFFF;
}
.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}

/* Footer */
#footer {
	height: 100px;
	min-height: 74px;
	padding: 25px 0 0 0;
	background: #666159 url(images/img02.jpg) repeat-x left top;
}
html>body #footer {
	height: auto;
}
#footer p {
	margin-bottom: .5em;
}
#legal, .credits {
	clear: both;
	padding-top: 30px;
	text-align: center;
	color: #A0A0A0;
}
#legal a, .credits a {
	color: #A0A0A0;
}
/* --------- Container Hacks ----------- */
/* Used to ensure the siteHeader stays within the confines of the containing object */
.force_contain:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.force_contain { display: inline-block; _height: 1%; }
/* Hides from IE-mac \*/
.force_contain { display: block; }
/* End hide from IE-mac */

/* PmWiki Standard */
.indent { margin-left:40px; }
.outdent { margin-left:40px; text-indent:-40px; }
fieldset { border: none; }
.wikimessage {padding-bottom: 15px; color: #DB5800; font-weight: bold; font-size: 130%; }
.quickref p { margin:0; padding:0;}
.quickref br { display: none; }

/* PmWiki Mods */
a.createlink { text-decoration: none; padding-left: 1px; position:relative; top:-0.5em; }
#menu a.createlink { display: none; }
#wikitext hr {border:2px solid #ECECEC; margin:2em 0}
#wikitext .escaped { overflow: auto; height: auto; width: 90%; margin: 1.5em auto; padding: .15em; }
#wikitext .quickref p, #wikitext .quickref .outdent, #wikitext .quickref div, #wikitext .quickref strong {font-size:1em; margin:0; text-align:left; text-indent:0; line-height: 2em}
#wikiedit, #wikiedit form input[type=submit] { margin-top: 25px; }
.pagegroup { text-decoration: none; }
.difftime { color: #000; }

/* PmWiki Additions */
#sidebar .pageactions { margin: -40px 0 0 -100px; padding-top: 5px; position: relative; }  /* Relative for IE6/7 */
#sidebar .pageactions ul { text-align: right; margin-bottom: 30px; }
#sidebar .pageactions ul li { display: inline; padding-left: 5px; }
#sidebar .pageactions ul li a { 	font-size: 11px; text-decoration: none; text-transform: lowercase; color: #D4D4D4; }
#sidebar li#search { padding-left: 0; }
#sidebar .pagegroup { visibility: hidden; }  /* hidden div to pad for when #content .pagegroup is displayed */

/* BlogIt */
.blogit-clear { clear: both; }
.editlink { padding-left: 10px; }
.blogit-comment-header { color: #fff; text-transform: lowercase; }
.blogit-readmore { display: block; margin-bottom: -25px; padding-left: 10px; text-transform: lowercase;  } /* margin counteract effect of p.vspace around .blogit-readmore */
.blogit-listmore { margin: -30px 0 30px; font-style: italic; }
.blogit-submit-row { padding-top: 10px; }
.blogit-submit-row img { vertical-align: bottom; padding-bottom: 1px; }
.blogit-page-navigation { margin: 1.2em 0; }
.blogit-older-entries { float: right; }
.blogit-newer-entries { float: left; }
.blogit-older-entries, .blogit-newer-entries { font-size: 1.3em; font-weight: bold; }
.blogit-newer-entries a { padding-left: 18px; background: url(images/mini-nav-left.gif) no-repeat left center; }
.blogit-older-entries a { padding-right: 18px; background: url(images/mini-nav-right.gif) no-repeat right center; }
